@import 'setup';
@import 'utils';
@import 'typography';
@import 'header';

//GENERAL STYLES
img {
    display: block;
    max-width: 100%;
}

section {
    background: #fff;
    padding: 5vh 0;
}

svg { 
    fill: $secondary;
    justify-self: center;
    width: 30%;  
    stroke: $black;
    stroke-width: 1px;
    @media (max-width: 480px) {
        display: none;
    }
}

.wrapper {
    align-items: center;
    display: flex;
    margin: 0 auto;
    max-width: 1170px;
    min-height: 90vh;
    @media (max-width: 1210px) {
        padding: 0 20px;    
    }
}

// Components 
.button {
    border: 2px solid $black;
    box-shadow: 3px 3px $black;
    display: block;
    padding: 20px;
    transition: box-shadow 2s ease;
}

label {
    background: #fff;
    border: 2px solid $black;
    box-shadow: 3px 3px $black;
    display: block;
    padding: 20px;
    transition: background 0.5s linear;
    &:hover,
    &:focus {
        background: #7acdbe;
    }
}


input[type=radio] {
    left: 50%;
    position: absolute;
    top: 50%;
    z-index: -1;
    &:checked ~ label {
        background: #7acdbe;
        box-shadow: none;
    }
}

// MAIN QUESTION STYLES
.question {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    min-height: 90vh;
    width: 100%;
    @media (max-width: 709px) {
        grid-template-rows: repeat(3, 1fr);
    }
    @media (max-width: 480px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

.answer-container {
    background: $white;
    border: 1px solid $black;
    display: flex;
    flex-direction: column;
    grid-column: 2 / span 2;
    grid-row: 2 / span 3;
    justify-content: center;
    @media (max-width: 709px) {
        grid-row: 2 / span 2;
    }
    @media (max-width: 480px) {
        margin: 20px 0;
    }
}

.option-container {
    margin: 15px;
    position: relative;
}

// dark section
.dark {
    background: $white;
    .heading-3 {
        grid-column: span 2 / -1 ;
        text-align: right; 
        @media (max-width: 709px) {
            text-align: center;          
        }
    }
    .answer-container {
        grid-column: 1 / span 2;  
    }    
}

//Form navigation elements
.next {
    display: flex;
    grid-row: 4;
    justify-content: center;
    filter: url(#shadow);
    &:hover svg {
        fill: darken($secondary, 10);
    }
    @media (max-width: 709px) {
        grid-row: 3;
    }
}

.left {
    grid-column: 1;
    svg {
        transform: scaleX(-1);
    }
}

.right  {
    grid-column: 3;
}


//Result section styles
.result-container {
    @extend .main-header;
    min-height: 100vh;
    display: flex;
    .wrapper {
        height: initial;
    }
    &__inner {
        @extend .main-header__container;
        min-height: initial;
        flex-basis: 900px;
        display: block;
    }
    .data-container {
        display: flex;
        flex-direction: row;
        @media (max-width: 709px) {
            flex-direction: column;
        }
    }
    .image-container,
    .text-container {
        flex-basis: 400px;
        padding: 40px;
        @media (max-width: 709px) {
            flex-basis: auto;
            padding: 20px 40px 0 40px;
            h2 {
                margin: 0;
            }
            img {
               margin: 20px auto;
            }
        }
    }
    .image-container {
        flex-shrink: 0.5;
    }
}


.results-button {
    @extend .main-header__button;
    grid-row: 4;
    justify-self: center;
    align-self: end;
    @media (max-width: 709px) {
        grid-row: 3;
    }
     @media (max-width: 480px) {
        align-self: center;
    }
}

.reset-button {
    @extend .main-header__button;
    margin: 0 auto;
    @media (max-width: 709px) {
        margin: 40px auto;
    }
}

.tweet {
    margin: 20px auto;
    text-align: center;
}


//Footer styles
footer {
    font-size: 1.2rem;
    padding: 10px 0;
    text-align: center;
    a {
        color: $primary;
        text-decoration: none;
        &:hover {
            color: darken($primary, 10);
        }
    }
}